# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Environment
.env
.venv
env/
venv/

# Editor / IDE
.vscode/
.idea/

# Local backups
*Backup.xls
*.swp
